Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  concurrency-*,
  misc-*,
  -bugprone-branch-clone,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-explicit-constructor,
  -misc-explicit-constructor,
  -bugprone-signed-bitwise,
  -readability-trailing-comma,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -misc-const-correctness,
  -performance-enum-size,
  -misc-include-cleaner,
  -misc-multiple-inheritance,
  -misc-use-internal-linkage,
  -modernize-use-auto,
  -modernize-use-scoped-lock,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter

WarningsAsErrors: '*,-cppcoreguidelines-init-variables,-cppcoreguidelines-pro-type-member-init,-hicpp-member-init,-readability-simplify-boolean-expr'
HeaderFilterRegex: '(common/apsi|sender/apsi|receiver/apsi|cli|tests)/'
ExcludeHeaderFilterRegex: '(config|.*_generated)\.h$|/fourq/'
FormatStyle: file
