*/obj/*
obj/*
*/bin/*
bin/*
*/lib/*
*/.build/*
*/out/*
*.o
*.so
*.a
*/~*
*~
*.out
*.psess
*.vsp
*.vspx
*/x64/*
x64/*
*.user
*.vs
*.json
.vscode/*
packages/*
APSICommon/cmake/APSICommonConfig.cmake
APSICommon/cmake/APSICommonConfigVersion.cmake
APSICommon/cmake/APSICommonTargets.cmake
APSISender/cmake/APSISenderConfig.cmake
APSISender/cmake/APSISenderConfigVersion.cmake
APSISender/cmake/APSISenderTargets.cmake
APSIReceiver/cmake/APSIReceiverConfig.cmake
APSIReceiver/cmake/APSIReceiverConfigVersion.cmake
APSIReceiver/cmake/APSIReceiverTargets.cmake
doc/html
doc/latex
**/CMakeCache.txt
**/install_manifest.txt
**/cmake_install.cmake
**/CMakeFiles
**/Makefile
